<ion-view view-title="login">
  <ion-content class="backgroundInitialPage" ng-controller="smartLogo">
      <img class="logo_smartquote" ng-src="img/{{frontendlogo}}">

      <div class="list">
        <label class=" user_information_box item item-input">
          <span class="input-label"> Correo </span>
          <input type="text">
        </label>
        <label class="user_information_box item item-input">
          <span class="input-label"> Contraseña </span>
          <input type="password">
        </label>
      </div>
      <a href="/home.html"><button class="button_login" > Iniciar </button></a>
      <a href="/home.html" class="button_sing_in"> Crear Cuenta </a>
  </ion-content>
</ion-view>

<