#description-address-container{
	height: 18%;
}

.item-input input, .item-input textarea{
 	 height: 100%;
 	 width: 100%;
 	 background-color: transparent;
}

.descriptionAndAddressTextArea{
	height: 100%;
}

.list{
	width: 90%;
	height: 73%;
	margin: 20% auto auto auto;
	border-radius: 25px;
	background-color: white;
	overflow-y: auto;
	overflow-x: hidden;
}

.tabs-top > .tabs, .tabs.tabs-top{
	top: 0%;
}

.requisitionform-container{
	background: black;
}

#AcceptButton{
	height: 0%;
    width: 30%;
    left: 35%;
    margin-top: 5%;
}

.requisitionform{
	background-color: rgb(88,88,90);
}

.tabs-striped .tabs {	
	background-color: transparent;
	color: white;
	border-style: none;
}
.item-floating-label {
	border-style: none;
}

.lineseparator{
	width:80%;
	border-color: rgb(245,123,32);
}

.input-label{
	color: black;
	font-weight: bold;
}

.tabs-striped .tab-item.active{
	color: white;
	border: 1px solid rgb(245,123,32);
}

.button.button-light.button-outline{
	border: solid white;
	color:white;
}

input::-webkit-input-placeholder {
 	color:black;
	font-weight: bold;
}

textarea::-webkit-input-placeholder {
 	color:black;
	font-weight: bold;
	font-size: 120%;
}

.item-input input{
	color:black;
	font-weight: bold;
	font-size: medium;
}

.tabs-striped .tab-item.activated{
	border-color: rgb(245,123,32);
}

.input-group-addon
{
    background-color:#FFF;
}

.item-floating-label .input-label.has-input{
	font-weight: bold;

}

.item-input{
	border-style: none;
}

.currency{
	width: 30% !important;
}
