<ion-header-bar align-title="left">
  <smartquote-navbar active-tab="'comprar'"></smartquote-navbar>
</ion-header-bar>
<ion-content>
  <div class="list">
    <ul class="sq-list">
      <li class="item" ng-class="{ 'selected': isSelected(requisition)}" 
        ng-repeat="requisition in requisitions" 
        ng-click="selectRequisition(requisition)">
          <span>{{requisition.description}}</span>
        </li>
    </ul>
  </div>
</ion-content>
<ion-footer-bar align-title="left" ng-if="user.isprovider">
  <h1 class="title">Mis solicitudes</h1>
</ion-footer-bar>
